<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakti</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="background">
        <img class="background-image" alt="background image" src="../picture/12222.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../picture/logo.png" alt="main logo">
            
            <nav>
                <span><a href="../index.html"><b>SĀKUMS</b></a></span>
                <span><a href="view/pakalpojumi.html"><b>PAKALPOJUMI</b></a></span>
                <span><a href=kontakti.html"><b>KONTAKTI</b></a></span>
            </nav>

            <div id="language-menu">
                <span>Language</span>

                <div id="language-dropdown">
                    <div class="language">
                        <img src="../picture/latvija.png" alt="LV flag">
                        <span>Latvian</span>
                    </div>
                    <div class="language">
                        <img src="../picture/british.png" alt="UK flag">
                        <span>English</span>
                    </div>
                    <div class="language">
                        <img src="../picture/russian.jpg" alt="RU flag">
                        <span>Russian</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <h1 class="title-kontakti">Kontakti</h1>
            <h3></br>Tālrunis+371 26753905</br>E-pasts: limbaziapdruka@limbazi.lv <br>Mēs atrodamies: Rīgas ielā 23 Limbaži </h3>
        </div>
    </div>
      </div>

</body>
</html>
